Flow 2.txt
[
    {
        "id": "57f96195.48b82",
        "type": "tab",
        "label": "Flow 3"
    },
    {
        "id": "fb35c4e.4512f38",
        "type": "inject",
        "z": "57f96195.48b82",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "6ef3cc5d.aa7bb4"
            ]
        ]
    },
    {
        "id": "6ef3cc5d.aa7bb4",
        "type": "function",
        "z": "57f96195.48b82",
        "name": "Payload",
        "func": "msg.headers={\n    deviceKey: \"MfhYHJj2NogiXDVE\"\n    };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "5188ae60.bba06",
                "bae554fe.bbbf48"
            ]
        ]
    },
    {
        "id": "d5b90376.cb60f",
        "type": "debug",
        "z": "57f96195.48b82",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "5188ae60.bba06",
        "type": "http request",
        "z": "57f96195.48b82",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://api.mediatek.com/mcs/v2/devices/DBF79Bgr/datachannels/Temperature/datapoints.csv",
        "tls": "",
        "x": 430,
        "y": 120,
        "wires": [
            [
                "d5b90376.cb60f",
                "59e33b0d.f3c9f4"
            ]
        ]
    },
    {
        "id": "59e33b0d.f3c9f4",
        "type": "http response",
        "z": "57f96195.48b82",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "bae554fe.bbbf48",
        "type": "http request",
        "z": "57f96195.48b82",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://api.mediatek.com/mcs/v2/devices/DBF79Bgr/datachannels/Humidity/datapoints.csv",
        "tls": "",
        "x": 418,
        "y": 175,
        "wires": [
            [
                "59e33b0d.f3c9f4",
                "d5b90376.cb60f"
            ]
        ]
    }
]